ion-item {
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    height: 50px;
    --highlight-height: 0px;
    ion-input {
        font-size: 18px;
        --padding-top: 20px;
        --padding-bottom: 15px;
        --padding-start: 5px;
    }
    a{
        font-size: 17px;
        letter-spacing: 0.5px;
        text-decoration: none;
    }
}