<ion-header class="ion-no-border">
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-button color="primary" routerLink="/home">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button routerLink="/signup">
                Sign Ip
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>
    <div id="header">
        <h1>Sign Up</h1>
        <img src="assets/logo.png">
    </div>

    <form id="form">
        <app-input placeholder="enter your first name"></app-input>
        <app-input placeholder="enter your last name"></app-input>
        <app-input placeholder="enter your home address"></app-input>
        <app-input placeholder="enter your e-mail"></app-input>
        <app-input placeholder="enter your password"></app-input>
        <ion-button expand="block" shape="round">Sign Up</ion-button>
    </form>

    <p id="par">Before you join with us, you have to agree with our terms and privacy.</p>

</ion-content>