<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title>
            GameAppex Community
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title color="primary" size="medium">GameAppex Community</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
        <img src="assets/companylogo.png"><br>
        <ion-button (click)="sendSignIn()">Send me to Sign In page</ion-button><br>
        <ion-button (click)="sendSignUn()">Send me to Sign Up page</ion-button>

        <p>Developed by GameAppex.com</p>
    </div>

</ion-content>